[MAIN]
load-plugins=pylint.extensions.docparams

[FORMAT]
max-line-length=100
indent-string='    '

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    too-few-public-methods,
    import-error,
    no-member,
    C0114,
    R0903

[DESIGN]
max-args=8
max-locals=15

[SIMILARITIES]
min-similarity-lines=6

[TYPECHECK]
ignored-modules=flask_sqlalchemy,flask_marshmallow,flask_migrate
